[Desktop Entry]
Version=1.0
Name=BLTG Core
Comment=BLTG P2P Cryptocurrency
Exec=bltg-qt %u
Terminal=false
Type=Application
Icon=bltg128
MimeType=x-scheme-handler/bltg;
Categories=Office;Finance;
StartupWMClass=Bltg-qt
Name[en_US]=bltg-qt.desktop
