# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BLTG Core Daemon SNAP
Comment=main
GenericName=BLTG Digital Currency Daemon Client main network
Exec=bltg-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/bltg.png
MimeType=x-scheme-handler/bltg;
Categories=X-Office;X-Finance;
Keywords=internet;bltg;zbltg;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
